nav {
  width: 200px;
  display: flex;
  margin: 50px auto;
}

nav a,
nav a:visited {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

nav a.active {
  color: #61dafb;
}

nav a:hover {
  color: #989fa9;
}
